.App {
  text-align: center;
}

.buttons {
  width: 50vw;
  margin: 0 auto;
}

.action_btn {
  display: inline-block;
  width: calc(33% - 4px);
  margin: 0 auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

td {
  padding: .2em;
}

th {
  background-color: #82858c;
  cursor: pointer;
}
